video {
  width: auto;
  max-height: 75vh;
}


p.count {
  margin: 0;
  margin-bottom: -15px;
  padding: 0;
}

i.bi-telephone {
  color: blue;
  font-size: 17px;
}

i.bi-whatsapp {
  color: green;
  font-size: 17px;
}

i.bi-share-fill {
  font-size: 17px;
}


a.download-now {
  font-size: 10px;
  height: max-content;
  padding: auto;
  background-color: #f4c2c2;
}

.red {
  color: red!important;
}

.golden {
  color: #d19208!important;
}

button.heart-icon {
  background-color: transparent;
  color: grey;
  transition: color 1s linear 1s;

}

button.half-moon-icon {
  background-color: transparent;
  color: grey;
  transition: color 1s linear 1s;
}

button.three-dot {
  background-color: transparent;
}

.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) {
  left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
  left: 3em;
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(1.5em);
  }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}


@media all and (min-width:1000px) {
  .video-details {
    margin-left: 10px;
  }

  
  i:not(.bi-download) {
    font-size: 25px;
  }

}