video {
  width: 100%;
  height: auto;
}

/* div.container {
  display: flex;
  flex-wrap: wrap;
} */

a.download-now {
  font-size: 10px;
  height: 27px;
  background-color: #f4c2c2;
}

.red {
  color: red;
}

.golden {
  color: rgb(209, 146, 8);
}

button.heart-icon {
  color: grey;
  transition: color 1s linear 1s;
}

button.half-moon-icon {
  color: grey;
  transition: color 1s linear 1s;
}

.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) {
  left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
  left: 3em;
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(1.5em);
  }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}


@media all and (min-width:1000px) {
  .video-details {
    margin-left: 10px;
  }
}